 * {
            font-family: 'Gaegu', cursive;
        }
        .full-contents {
            width: 300px;
            margin: auto;
        }

        .title-box {
            width: 300px;
            height:200px;

            color:white;
            text-align: center;

            border-radius: 10px;
            padding-top: 30px;




            background-position: center;
            background-size: cover;
            background-image:url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");

        }